<!DOCTYPE html>
<html>
  <head>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dwell.js') }}"></script>

  <style>
    #body_group {
      padding: 5px;
      text-align:center;
      background-color:#f2f2f2;
    }
    .values {
      font-size:30px;
      color:#404040;
    }
    .units {
      color:#808080;
    }
    td {
      width: 33%;
      text-align:center;
      background-color:#ffffff;
    }

    h2 {
      color:#002b80;
    }
  </style>

  </head>
  <body>

    <div id="body_group">

      <table style="width: 100%;">
        <tr>
          <td>
            <br>
            <br>
            <img src="{{url_for('static', filename='group.jpg')}}" width="60px" />
            <br>
            <br>
          </td>
          <td>
            <br>
            <br>
            <img src="{{url_for('static', filename='repeat.png')}}" width="60px" />
            <br>
            <br>
          </td>
          <td>
            <br>
            <br>
            <img src="{{url_for('static', filename='clock.jpg')}}" width="40px" style="display:inline"/>
            <br>
            <br>
          </td>
        </tr>
        <tr>
          <td>
            <br>
            <br>
            <span id="unique_visitors" class="values"></span><span class="units"> CURRENT VISITORS</span>
            <br>
            <br>
          </td>
          <td>
            <br>
            <br>
            <span id="current_repeat_visitors" class="values">-1</span><span class="units"> CURRENT REPEAT VISITORS</span>
            <br>
            <br>
          </td>
          <td>
            <br>
            <br>
            <span id="dwell_time" class="values"></span><span class="units"> MINUTES TODAY'S DWELL TIME</span>
            <br>
            <br>
          </td>
        </tr>
        <tr>
          <td>
            <br>
            <br>
            <span id="current_device_count" class="values">-1</span><span class="units"> DAILY AVERAGE VISITORS</span>
            <br>
            <br>
          </td>
          <td>
            <br>
            <br>
            <span id="current_device_count" class="values">-1</span><span class="units"> DAILY AVERAGE REPEAT VISITORS</span>
            <br>
            <br>
          </td>
          <td>
            <br>
            <br>
            <span id="repeat_device_count" class="values">-1</span><span class="units"> MINUTES DAILY AVERGE DWELL TIME</span>
            <br>
            <br>
          </td>
        </tr>
      </table>

    </div>

  </body>
</html>
