<!DOCTYPE html>
<html>
  <head>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/dwell.js') }}"></script>



  <style>
  #body_group {
    padding: 50px;
    text-align:center;
    background-color:#f2f2f2;
    /* border: 1px solid #993300; */
  }
  .units {
    color:#808080;
  }
  td {
    text-align:center;
    background-color:#ffffff;
  }

  h2 {
    color:#002b80;
  }
  </style>

  </head>


  <body>


  <div id="body_group">
    <br>

      <table style="width: 100%;">
        <tr>
          <td style="width: 33%;">
            Unique Visitors
          </td>
          <td style="width: 33%;">
            Dwell Time
          </td>
        </tr>
        <tr>
          <td>
            <br>
            <img src="{{url_for('static', filename='group.jpg')}}" width="60px" />
          </td>
          <td>
            <br>
            <img src="{{url_for('static', filename='clock.jpg')}}" width="40px" style="display:inline"/>
          </td>
        </tr>
        <tr>
          <td>
            <br>
            <span id="unique_visitors"></span><span class="units">VISITORS</span>
          </td>
          <td>
            <br>
            <span id="dwell_time"></span><span class="units">MINUTES</span>
          </td>
        </tr>
        <tr>
          <td>
            <br>
            <br>
            Current Visitors: <span id='current_device_count'>-1</span><span class="units">VISITORS</span>
          </td>
          <td>
            <br>
            <br>
            Current Repeat Visitors: <span id='repeat_device_count'>-1</span><span class="units">VISITORS</span>
          </td>
        </tr>
      </table>

    </div>

  </body>
</html>
